<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="../core/vue.js"></script>
        <title>更新时的一个问题</title>
    </head>
    <body>
        <div id="root">
            <h1>个人信息</h1>
            <h2>姓名：{{student.name}}</h2>
            <h2>性别：{{student.sex}}</h2>
            <h2>年龄：{{student.age}}</h2>

            <h1>好友列表</h1>
            <ul>
                <li v-for="friend in student.friends" :key="friend.id">
                    <h2>
                        个人信息：{{friend.name}}--{{friend.sex}}--{{friend.age}}
                    </h2>
                </li>
                <hr />
            </ul>

            <h1>爱好列表</h1>
            <ul>
                <li v-for="(item,index) in student.hobbys" :key="index">
                    <h2>{{item}}</h2>
                </li>
                <hr />
            </ul>
        </div>
    </body>
    <script type="text/javascript">
        const vm = new Vue({
            el: "#root",
            data() {
                return {
                    student: {
                        name: "milo",
                        sex: "男",
                        age: 18,
                        friends: [
                            {
                                id: 1,
                                name: "lucy",
                                age: 16,
                            },
                            {
                                id: 2,
                                name: "mike",
                                age: 20,
                            },
                        ],
                        /*
                        数组的方法：
                        .push       在末端添加一个元素
                        .pop        在末端删除一个元素
                        .unshift    在末端添加一个元素
                        .shift      在末端删除一个元素
                        .splice     指定位置插入
                        .sort       排序
                        .reverse    反转
                        */
                        hobbys: ["唱", "跳", "rap"],
                    },
                };
            },
            methods: {},
        });
    </script>
</html>
